!*.yaml
!.gitignore
!*.md

.idea
.storage
.cloud
.google.token
.pytest_cache
__pycache__
out

custom_components
www

*.log
*.log.1
*.log.fault
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db

ip_bans.yaml
secrets.yaml
known_devices.yaml
/ha_api/
/venv/
/.mypy_cache/
