- id: '1686089832830'
  alias: Battery checker
  description: ''
  use_blueprint:
    path: sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
    input:
      exclude:
        device_id:
        - bd05eb8198d3a8d1c8734aa3e23811e8
        - a58f5d5b508c5e7eb701b4e80ce69e5f
        - 7639905b40fa4fd3f6c1ebed67a5b795
        - 1c6fbdaf5d229a52ef7d436804d5f58f
        - dae1a66fac2112d0e63d70e08d93dc31
        - 651c4c4116297cc38fcdfbf2c5849708
        - 5052e0f614661ad5af55d8cf1c31a531
      actions:
      - action: notify.mobile_app_jc_iphone
        data: {}
- id: '1712425858556'
  alias: Fetch min-max temperature
  description: Simple automation to get min and max temperature
  trigger:
  - platform: time_pattern
    minutes: '0'
  condition: []
  action:
  - service: weather.get_forecasts
    metadata: {}
    data:
      type: daily
    target:
      entity_id: weather.forecast_marsh_court
    response_variable: forecast
  - service: input_number.set_value
    metadata: {}
    data_template:
      value: '{{ forecast[''weather.forecast_marsh_court''].forecast[0].templow }}'
    target:
      entity_id: input_number.min_temperature_today
  - service: input_number.set_value
    metadata: {}
    data_template:
      value: '{{ forecast[''weather.forecast_marsh_court''].forecast[0].temperature
        }}'
    target:
      entity_id: input_number.max_temperature_today
  - service: input_number.set_value
    metadata: {}
    data_template:
      value: '{{ forecast[''weather.forecast_marsh_court''].forecast[1].temperature
        }}'
    target:
      entity_id: input_number.max_temperature_tomorrow
  - service: input_number.set_value
    metadata: {}
    data_template:
      value: '{{ forecast[''weather.forecast_marsh_court''].forecast[1].templow }}'
    target:
      entity_id: input_number.min_temperature_tomorrow
  mode: single
- id: '1713623938907'
  alias: Unavailable device watchdog
  description: Notifies of unavailable entities
  use_blueprint:
    path: gmlupatelli/unavailable_entities_notification.yaml
    input:
      exclude:
        label_id: gadgets
      sunday_enabled: false
      friday_enabled: false
      thursday_enabled: false
      wednesday_enabled: false
      tuesday_enabled: false
      monday_enabled: false
      time: '16:00:00'
      actions:
      - metadata: {}
        data:
          message: Unavailable entities {{entities}}
          title: Cleanup needed
        action: notify.mobile_app_jc_iphone
