[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
requests = "*"
websocket-client = "*"
certifi = "*"
appdaemon = "*"
appdaemontestframework = "==5.0.0"
asynctest = "*"
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-asyncio = "*"
requests-oauthlib = "*"
freezegun = "*"
jinja2 = "*"
typer = "*"

[dev-packages]

[scripts]
ha = "python -m ops"

[requires]
python_version = "3.13"
