esphome:
  name: esphome-web-7576a0
  friendly_name: LivingRoom BT Proxy
  min_version: 2025.11.0
  name_add_mac_suffix: false

api:

ota:
  platform: esphome

esp32_ble_tracker:

bluetooth_proxy:
  active: true

esp32:
  variant: esp32
  framework:
    type: esp-idf

# Enable logging
logger:

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password